// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.25 + .125s * $delay) both;
}
#body-home #header {
  .img--ratio    { @include show-from(0); }
  .box--1 .img   { @include show-from(1); }
  .box__sub      { @include show-from(2); }
  .box__md p     { @include show-from(3); }
  .box__md .btns { @include show-from(4); }
}
